*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh auto 40vw (min-content)[3];
      grid-template-rows: 80vh auto 40vw repeat(3, -webkit-min-content);
      grid-template-rows: 80vh auto 40vw repeat(3, min-content);
  -ms-grid-columns: [sidebar-start] 7rem [sidebar-end full-start] minmax(2rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(2rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 7rem [sidebar-end full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 7rem [sidebar-end full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  position: relative;
}

@media only screen and (max-width: 53.125em) {
  .container {
    -ms-grid-rows: 100vh (min-content)[7];
        grid-template-rows: 100vh repeat(7, -webkit-min-content);
        grid-template-rows: 100vh repeat(7, min-content);
    -ms-grid-columns: 6rem, 1fr;
        grid-template-columns: 6rem, 1fr;
  }
}

a {
  text-decoration: none;
  color: currentColor;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.mt-sm {
  margin-top: 2rem;
}

#my-scrollbar {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  color: #f9f7f6;
  font-size: 4.5rem;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: initial;
}

.heading-2--light {
  color: #f9f7f6;
}

.heading-2--dark {
  color: #6d5d4b;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}

.heading-4--light {
  color: #f9f7f6;
}

.heading-4--dark {
  color: #6d5d4b;
}

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  padding: 2rem 5rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #b28451;
}

.sidebar {
  font-size: 1.6rem;
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 79;
}

.hamburger-menu {
  position: fixed;
  display: block;
  cursor: pointer;
  border: 2px solid #fff;
  padding: 15px 5px 0;
  margin-top: 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 77;
}

.hamburger-menu:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.nav-btn {
  display: block;
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4rem;
  margin-bottom: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.nav-btn::before, .nav-btn::after {
  background-color: #fff;
  height: 2px;
  width: 4rem;
  content: '';
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-btn::before {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.nav-btn::after {
  -webkit-transform: translateY(0.9rem);
          transform: translateY(0.9rem);
}

.menu-open .nav-btn {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu-open .nav-btn::before {
  -webkit-transform: translateX(50px) rotate(45deg);
          transform: translateX(50px) rotate(45deg);
}

.menu-open .nav-btn::after {
  -webkit-transform: translateX(50px) rotate(-45deg);
          transform: translateX(50px) rotate(-45deg);
}

.main-nav-btn {
  color: #f9f7f6;
  font-size: 1.2rem;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #c69963;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8rem 0 0 8rem;
  z-index: 76;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media only screen and (max-height: 21.875em) {
  nav {
    overflow-y: auto;
  }
}

.main-nav--items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #f9f7f6;
  padding: 2rem;
  margin-top: 5rem;
}

.main-nav--items li:not(:last-child) {
  margin-bottom: 3rem;
}

.main-nav--items li {
  opacity: 0;
}

.main-nav--items a {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: #f9f7f6;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1.5rem;
}

.main-nav--items a:hover, .main-nav--items a:active {
  background-color: rgba(255, 255, 255, 0.05);
}

.main-nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slogan {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  position: fixed;
  top: 50vh;
  margin-top: 5rem;
  margin-bottom: auto;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 78;
}

@media only screen and (max-height: 21.875em) {
  .slogan {
    display: none;
  }
}

.header {
  background-color: #54483a;
  grid-column: full-start / col-end 6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 29, 44, 0.9)), to(rgba(16, 29, 44, 0.8))), url(../img/hero.jpeg);
  background-image: linear-gradient(rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.8)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content minmax(6rem, min-content) 1fr;
      grid-template-rows: 1fr -webkit-min-content minmax(6rem, -webkit-min-content) 1fr;
      grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  -ms-grid-columns: minmax(min-content, max-content);
      grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
      grid-template-columns: minmax(min-content, max-content);
  gap: 2rem;
  padding: 2rem 7rem;
}

@media only screen and (max-width: 53.125em) {
  .header {
    grid-column: full-start/-1;
  }
}

@media only screen and (max-width: 40.625em) {
  .header {
    padding: 1.7rem 5rem;
  }
}

.header__logo {
  height: 3.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

.header__seenon-text {
  color: #aaa;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.header__seenon-text::before, .header__seenon-text::after {
  content: '';
  height: 1px;
  display: block;
  background-color: currentColor;
}

.header__seenon-logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__seenon-logos img {
  max-height: 2rem;
  max-width: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.header__seenon-logos img:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  row-gap: 2rem;
}

@media only screen and (max-width: 53.125em) {
  .realtors {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2/2/3/-1;
    padding: 1.5rem;
  }
}

.realtors__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 53.125em) {
  .realtors__list {
    -ms-grid-columns: (min-content max-content)[3];
        grid-template-columns: repeat(3, -webkit-min-content -webkit-max-content);
        grid-template-columns: repeat(3, min-content max-content);
  }
}

@media only screen and (max-width: 40.625em) {
  .realtors__list {
    -ms-grid-columns: min-content max-content;
        grid-template-columns: -webkit-min-content -webkit-max-content;
        grid-template-columns: min-content max-content;
  }
}

.realtors__img {
  width: 7rem;
  border-radius: 50%;
  display: block;
}

.realtors__sold {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #aaa;
  margin-top: -3px;
}

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media only screen and (max-width: 53.125em) {
  .features {
    margin: 7rem 0 5rem 0;
  }
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  gap: 1.5rem 2.5rem;
}

.feature__icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.feature__text {
  font-size: 1.7rem;
}

.story__pictures {
  background-image: linear-gradient(45deg, rgba(198, 153, 99, 0.2), rgba(198, 153, 99, 0.7)), url(../img/back.jpg);
  background-size: cover;
  grid-column: full-start / col-end 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 53.125em) {
  .story__pictures {
    grid-column: 2/-1;
    padding: 3re;
  }
}

.story__img-1 {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 2/2/6/6;
  z-index: 4;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 53.125em) {
  .story__img-1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: 2/2/-1/5;
  }
}

.story__img-2 {
  width: 121%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 4/4/7/7;
  z-index: 5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 53.125em) {
  .story__img-2 {
    grid-row: 1/-1;
    width: 100%;
  }
}

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 7rem 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 53.125em) {
  .story__content {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-area: 4/2/5/-1;
  }
}

.story__text {
  font-size: 1.5rem;
  font-style: italic;
}

.homes {
  grid-column: center-start / center-end;
  margin: 10rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
}

.home {
  background-color: #f9f7f6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2.7rem;
}

.home__img {
  width: 100%;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 1;
}

.home__like {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  -ms-grid-column-align: right;
      justify-self: right;
  margin: 1rem;
  fill: #c69963;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home__like:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.home__name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1/1/2/-1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 80%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  padding: 1.25rem;
  background-color: #101d2c;
  color: #fff;
  z-index: 2;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.home__location, .home__rooms {
  margin-top: 2rem;
}

.home__location, .home__rooms, .home__area, .home__price {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
  fill: red;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.home__price, .home__rooms {
  margin-left: 0;
}

.home__btn {
  grid-column: 1/-1;
}

.gallery {
  grid-column: full-start / full-end;
  background-color: #f9f7f6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[7];
      grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/ 1 / span 2 / span 2;
}

.gallery__item--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 1/3/4/6;
}

.gallery__item--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 1/6/3/7;
}

.gallery__item--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-area: 1/7/3/-1;
}

.gallery__item--5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/6/3;
}

.gallery__item--6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 4/3/6/5;
}

.gallery__item--7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 4/5/5/6;
}

.gallery__item--8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: 3/6/5/8;
}

.gallery__item--9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-area: 3/8/6/-1;
}

.gallery__item--10 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 6/1/8/2;
}

.gallery__item--11 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 6/2/8/4;
}

.gallery__item--12 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 6/4/8/5;
}

.gallery__item--13 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: 5/5/8/8;
}

.gallery__item--14 {
  grid-area: 6/8/-1/-1;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 7rem;
  text-align: center;
}

@media only screen and (max-width: 53.125em) {
  .footer {
    grid-area: 8/2/-1/-1;
  }
}

.footer__nav {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.footer__nav--link:link, .footer__nav--link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  padding: 1.5rem;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__nav--link:hover, .footer__nav--link:active {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.copyright {
  margin-top: 5rem;
  font-size: 1.2rem;
  color: #aaa;
}

.copyright__link {
  color: #f9f7f6;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.copyright__link:hover, .copyright__link:active {
  text-decoration: underline;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
