.footer {
	background-color: $color-secondary;
	grid-column: full-start / full-end;
	padding: 7rem;
	text-align: center;

	@media only screen and (max-width: $bp-large) {
		grid-area: 8/2/-1/-1;
	}
}

.footer__nav {
	list-style: none;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2rem;
	align-items: center;

	align-self: center;

	// &--item {
	// 	align-self: center;
	// 	justify-self: center;
	// }

	&--link:link,
	&--link:visited {
		font-size: 1.4rem;
		color: #fff;
		text-decoration: none;
		font-family: $font-display;
		text-transform: uppercase;
		padding: 1.5rem;
		display: block;

		transition: all 0.2s;
	}

	&--link:hover,
	&--link:active {
		background-color: rgba(255, 255, 255, 0.05);
		transform: translateY(-3px);
	}
}

.copyright {
	margin-top: 5rem;
	font-size: 1.2rem;
	color: $color-grey-light-2;

	&__link {
		color: $color-grey-light-1;
		text-decoration: none;
		display: inline-block;
		transition: all 0.2s;
	}

	&__link:hover,
	&__link:active {
		text-decoration: underline;
		transform: translateY(-3px);
	}
}
